[Unit]
Description=Guiosoft host nftables policy
Documentation=file://{{ firewall_ruleset_path }}
After=network-online.target
Wants=network-online.target
Before=k3s.service cloudflared.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/sbin/nft delete table inet {{ firewall_table_name }} 2>/dev/null || true; exec /usr/sbin/nft --file {{ firewall_ruleset_path }}'
ExecReload=/bin/sh -c '/usr/sbin/nft delete table inet {{ firewall_table_name }} 2>/dev/null || true; exec /usr/sbin/nft --file {{ firewall_ruleset_path }}'
ExecStop=-/usr/sbin/nft delete table inet {{ firewall_table_name }}

[Install]
WantedBy=multi-user.target
